@import './modules/pattern.css';
@import './modules/aspect.css';
@import './modules/select.css';

@screen md {
  .post-card {
    width: calc(50% - theme('spacing.8'));
  }
}

@screen lg {
  .post-card {
    width: calc(100% / 3 - theme('spacing.8'));
  }
}

.featured-post--body .featured__overlay {
  background-image: linear-gradient(
    to bottom,
    rgba(theme('colors.brand.cyan'), 0.9) 40%,
    rgba(theme('colors.brand.cyan'), 0.65) 70%,
    rgba(theme('colors.brand.cyan'), 0.4)
  );
}

.featured-post--soul .featured__overlay {
  background-image: linear-gradient(
    to bottom,
    rgba(theme('colors.brand.blue'), 0.9) 40%,
    rgba(theme('colors.brand.blue'), 0.65) 70%,
    rgba(theme('colors.brand.blue'), 0.4)
  );
}

.featured-post--spirit .featured__overlay {
  background-image: linear-gradient(
    to bottom,
    rgba(theme('colors.brand.navy'), 0.9) 40%,
    rgba(theme('colors.brand.navy'), 0.65) 70%,
    rgba(theme('colors.brand.navy'), 0.4)
  );
}

@screen md {
  .featured-post--body .featured__overlay {
    background-image: linear-gradient(
      to right,
      rgba(theme('colors.brand.cyan'), 0.9) 40%,
      rgba(theme('colors.brand.cyan'), 0.65) 70%,
      rgba(theme('colors.brand.cyan'), 0)
    );
  }

  .featured-post--soul .featured__overlay {
    background-image: linear-gradient(
      to right,
      rgba(theme('colors.brand.blue'), 0.9) 40%,
      rgba(theme('colors.brand.blue'), 0.65) 70%,
      rgba(theme('colors.brand.blue'), 0)
    );
  }

  .featured-post--spirit .featured__overlay {
    background-image: linear-gradient(
      to right,
      rgba(theme('colors.brand.navy'), 0.9) 40%,
      rgba(theme('colors.brand.navy'), 0.65) 70%,
      rgba(theme('colors.brand.navy'), 0)
    );
  }
}
