@import './modules/aspect.css';
@import './modules/triangles.css';
@import './modules/content.css';
@import './modules/pattern.css';

.hero-video-after {
  background-image: linear-gradient(
    135deg,
    rgba(theme('colors.black'), 0.65),
    rgba(theme('colors.brand.indigo'), 0.65) 90%
  );
  transition: opacity 0.2s ease-in;
}

@screen md {
  .hero-video-frame {
    @apply opacity-100;
    transition: opacity 0.2s ease-in;
  }

  .hero-video-img {
    @apply opacity-0;
    transition: opacity 0.2s ease-in;
  }

  [data-video-state="complete"] .hero-video-frame {
    @apply opacity-0;
  }

  [data-video-state="complete"] .hero-video-after,
  [data-video-state="complete"] .hero-video-img {
    @apply opacity-100;
  }
}

@screen md {
  .callout {
    @apply mx-8;
    width: calc(50% - theme('spacing.16'));
  }
}

@screen md {
  .featured-articles {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: 350px 350px;
  }

  .article--body {
    grid-column: 1 / span 9;
    grid-row: 1 / span 1;
  }

  .article--soul {
    grid-column: 10 / span 9;
    grid-row: 1 / span 1;
  }

  .article--spirit {
    grid-column: 1 / span 18;
    grid-row: 2 / span 1;
  }
}

@screen lg {
  .article--body {
    grid-column: 1 / span 8;
    grid-row: 1 / span 2;
  }

  .article--soul {
    grid-column: 9 / span 10;
    grid-row: 1 / span 1;
  }

  .article--spirit {
    grid-column: 9 / span 10;
    grid-row: 2 / span 1;
  }

  .article--body .article__content {
    @apply py-24;
  }

  .article--body .article__excerpt {
    @apply mt-16;
  }

  .article--soul .article__content {
    @apply py-8;
  }
}

.article--body .article__content {
  background-image: linear-gradient(rgba(theme('colors.brand.cyan'), 0.9), rgba(theme('colors.brand.cyan'), 0.9));
}

.article--soul .article__content {
  background-image: linear-gradient(rgba(theme('colors.brand.blue'), 0.9), rgba(theme('colors.brand.blue'), 0.9));
}

.article--spirit .article__content {
  background-image: linear-gradient(rgba(theme('colors.brand.navy'), 0.9), rgba(theme('colors.brand.navy'), 0.9));
}
