.woocommerce ul.order_details {
  @apply mt-6;
}

.woocommerce table.shop_table {
  @apply mt-6;
  border: 1px solid theme('colors.grey.400');
  border-collapse: collapse;
}

.woocommerce table.shop_table td {
  border-top: 1px solid theme('colors.grey.400');
}

.woocommerce table.shop_table tfoot tr td,
.woocommerce table.shop_table tfoot tr th {
  border-top: 1px solid theme('colors.grey.400');
}

.woocommerce table.shop_table tfoot tr:last-child td,
.woocommerce table.shop_table tfoot tr:last-child th {
  border-top: 1px solid theme('colors.grey.200');
  background-color: theme('colors.grey.200');
}

.woocommerce-order-details__title,
.woocommerce-column__title {
  @apply font-bold text-xl;
}

.woocommerce .woocommerce-customer-details address {
  @apply mt-4 p-4;
  border: 1px solid theme('colors.grey.400');
}

.woocommerce .woocommerce-column {
  @apply mt-6;
}

.woocommerce .woocommerce-order-overview {
  @apply flex flex-col;
}

.woocommerce ul.order_details li {
  @apply float-none mt-4 pb-4;
}

.woocommerce ul.order_details li:not(:last-child) {
  border-right: none;
  border-bottom: 1px dashed theme('colors.grey.400');
}

@screen md {
  .woocommerce .woocommerce-order-overview {
    @apply flex-row;
  }

  .woocommerce ul.order_details li {
    @apply pb-0;
  }

  .woocommerce ul.order_details li:not(:last-child) {
    border-bottom: none;
    border-right: 1px dashed theme('colors.grey.400');
  }
}
