@import './modules/content.css';

.dh-content .wp-block-column:first-child > p,
.dh-content .wp-block-column:first-child .wp-block-group {
  @apply mt-6 leading-relaxed text-grey-600;
}

.dh-content .wp-block-column:first-child h2,
.dh-content .wp-block-column:first-child h3,
.dh-content .wp-block-column:first-child h4 {
  @apply mt-12 font-extrabold;
}

.dh-content .wp-block-column:first-child h2 {
  @apply text-2xl;
}

.dh-content .wp-block-column:first-child blockquote {
  @apply pl-6 py-1 border-l-2 border-grey-500 mt-6;
}

.dh-content .wp-block-column:first-child blockquote > p {
  @apply text-lg leading-relaxed;
}

.dh-content .wp-block-column:first-child blockquote > cite {
  @apply font-bold not-italic mt-4 block;
}

.dh-content .wp-block-column:first-child ul {
  @apply list-disc ml-8 mb-8 mt-8;
}

.dh-content .wp-block-column:first-child ol {
  @apply list-decimal ml-8 mb-8 mt-8;
}

.dh-content .wp-block-column:first-child li {
  @apply mb-4;
}

.dh-content .wp-block-column:first-child img {
  @apply w-full;
}

.dh-content .wp-block-column:first-child a {
  @apply underline text-brand-cyan;
}

.dh-content .wp-block-column:first-child .wp-block-image .alignleft,
.dh-content .wp-block-column:first-child .wp-block-image .alignright {
  @apply float-none m-0 mb-8;
}

@screen sm {
  .dh-content .wp-block-column:first-child blockquote > p {
    @apply text-xl;
  }
}

@screen md {
  .dh-content .wp-block-column:first-child h2 {
    @apply text-3xl;
  }

  .dh-content .wp-block-column:first-child h3 {
    @apply text-2xl;
  }

  .dh-content .wp-block-column:first-child h4 {
    @apply text-xl;
  }

  .dh-content .wp-block-column:first-child > p {
    @apply text-lg;
  }

  .dh-content .wp-block-column:first-child .wp-block-image .alignleft {
    @apply float-left w-1/2 m-8 ml-0;
  }

  .dh-content .wp-block-column:first-child .wp-block-image .alignright {
    @apply float-right w-1/2 m-8 mr-0;
  }
}

.gform_heading,
.validation_error,
.gform_validation_container {
  @apply hidden;
}

.validation_message {
  @apply bg-error text-white p-2 text-sm mt-4 rounded;
}

.gform_body {
  @apply flex flex-col;
}

.gform_body .gform_fields {
  @apply m-0 list-none;
}

.gform_fields:first-child {
  @apply w-full;
}

.gform_fields:last-child {
  @apply flex flex-col flex-1;
}

.gform_fields:last-child .gfield:first-child {
  @apply flex-1 flex flex-col;
}

.gform_footer {
  @apply flex pb-16 mt-6;
}

.gform_button {
  @apply flex-1 text-white font-bold py-3 px-12 cursor-pointer;
  background-image: linear-gradient(135deg, theme('colors.brand.cyan') 20%, theme('colors.brand.blue'));
}

.gform_fields:first-child .gfield_label {
  @apply block mt-6;
}

.gform_fields:first-child input {
  @apply border-b border-brand-cyan w-full py-4;
}

.gform_fields:last-child .textarea {
  @apply py-4 w-full border-b border-brand-cyan;
}

.gfield_label {
  @apply font-bold text-grey-600;
}

.gfield .clear-multi {
  @apply flex items-center;
}

.gfield .ginput_container_time {
  @apply flex items-center mr-2;
}

.gfield .ginput_container_time input {
  @apply w-16 mr-2 text-center;
}

.gfield .ginput_container_time label {
  @apply hidden;
}

@screen lg {
  .gform_wrapper form {
    @apply flex flex-col;
  }

  .gform_body {
    @apply flex-1 flex-row pb-0;
  }

  .gform_fields {
    @apply p-0;
  }

  .gform_fields:first-child {
    @apply pt-0;
  }

  .gform_footer {
    @apply p-0 m-0;
  }
}

.ui-datepicker {
  width: 216px;
  height: auto;
  margin: 5px auto 0;
  font: 9pt Arial, sans-serif;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker table {
  width: 100%;
  border-collapse: collapse;
}

.ui-datepicker-header {
  background-color: #ffffff; /* set the header background color */
  font-weight: bold;
  line-height: 30px;
  min-height: 30px !important;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-title select {
  margin-top: 2.5%;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background-image: url('../images/datepicker/arrow.png');
  background-repeat: no-repeat;
  line-height: 600%;
  overflow: hidden;
}

.ui-datepicker-prev {
  float: left;
  background-position: center -30px;
}

.ui-datepicker-next {
  float: right;
  background-position: center 0px;
}

.ui-datepicker thead {
  background: #ffffff;
}

.ui-datepicker th {
  text-transform: uppercase;
  text-align: center;
  font-size: 6pt;
  padding: 5px 0;
}

.ui-datepicker tbody td {
  padding: 0;
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
}

.ui-datepicker tbody td:last-child {
  border-right: 0px;
}

.ui-datepicker tbody tr {
  border-bottom: 1px solid #bbb;
}

.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}

.ui-datepicker td span,
.ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.ui-datepicker-calendar .ui-state-default {
  @apply bg-white;
}

.ui-datepicker-calendar .ui-state-hover {
  @apply bg-grey-200;
}

.ui-datepicker-calendar .ui-state-active {
  @apply bg-brand-cyan text-white;
}

.ui-datepicker-unselectable .ui-state-default {
  @apply bg-white;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
  width: 29px;
  margin-left: 0;
}

.ui-datepicker-calendar td:last-child .ui-state-active {
  width: 29px;
  margin-right: 0;
}

.ui-datepicker-calendar tr:last-child .ui-state-active {
  height: 29px;
  margin-bottom: 0;
}

td.ui-datepicker-unselectable.ui-state-disabled {
  @apply bg-grey-100;
}

table.ui-datepicker-calendar {
  margin: 0 0 0 0 !important;
}

body div#ui-datepicker-div[style] {
  z-index: 9999 !important;
}
