.marquee .slick-track {
  @apply mb-4;
}

.marquee .slick-slide {
  @apply rounded ml-4;
  width: 90vw;
}

@screen md {
  .marquee .slick-slide {
    @apply rounded ml-4;
    width: 33vw;
  }
}

@screen lg {
  .marquee .slick-slide {
    @apply rounded ml-4;
    width: 25vw;
  }
}

