.triangles {
  @apply absolute h-auto w-full;
  z-index: -1;
}

.triangles--left {
  left: 0;
}

.triangles--right {
  right: 0;
  transform: scaleX(-1);
}

@screen md {
  .triangles {
    @apply absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 53%;
  }

  .triangles--right {
    transform: translateY(-50%) scaleX(-1);
  }
}
